<html>
	<head>
		<title>HTML5 LEAREN</title>
		<link href="{{url_for('static',filename="bootstrap-3.3.7-dist/css/bootstrap.min.css")}}" rel="stylesheet">
	</head>
	<body>
    <script src="{{url_for('static',filename="bootstrap-3.3.7-dist/js/bootstrap.min.js")}}"></script>
	<div id="header">
		{% block header %}
		<h1>Hou Yu Hang's Blog</h1>
		{% endblock %}
	</div>
		
	<div id="content">
		{% block content %}

		{% endblock %}
	</div>

	<div id="footer">
		{% block footer %}
		&copy; Copyright 2017 by <a href="http://book.adbc.site">Hou Yu Hanq</a>
		{% endblock %}

	</div>
	</body>
</html>